In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
import numpy as np

In [36]:
data = pd.read_hdf("train_dc.h5",start=0,stop=11500)

In [3]:
data

,"(0, ask)","(0, ask1)","(0, ask_size)","(0, ask_size1)","(0, bid)","(0, bid1)","(0, bid_size)","(0, bid_size1)","(0, price)","(0, qty)",...,"(8, qty)","(8, source_id)","(8, tod)","(9, price)","(9, qty)","(9, source_id)","(9, tod)",stock_id,day_id,ID
0,4.5,562.5,0.002330,0.093197,-25.5,-545.5,0.046598,0.046598,-0.5,0.037279,...,0.004660,4,38930876675,-3.5,0.046598,2,38930876000,387,238,0
1,2.5,14.5,0.001314,0.013139,-10.5,-406.5,0.013139,0.026278,-0.5,0.013139,...,0.013139,2,46336088000,1.5,0.013139,4,46336087875,437,22,1
2,5.0,210.0,0.010792,0.010792,-95.0,-285.0,0.032376,0.021584,-3.0,0.010253,...,0.050615,2,57584792000,0.0,0.010792,2,57583312000,7,255,2
3,0.5,1.5,0.006943,0.006943,-2.5,-3.5,0.006943,0.013886,-0.5,0.000069,...,0.013886,4,49549010300,0.5,0.006943,1,49549010200,48,64,3
4,15.0,442.0,0.035689,0.071378,-391.0,-397.0,0.035689,0.035689,3.0,0.035689,...,0.035689,2,42452055000,-8.0,0.035689,3,42451072650,52,231,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,11.5,457.5,0.032196,0.032196,-9.5,-40.5,0.032196,0.000322,-0.5,0.032196,...,0.032196,1,54691793450,0.5,0.032196,3,54691575950,351,118,1495
1496,386.5,387.5,0.028466,0.028466,-10.5,-406.5,0.028466,0.056931,-0.5,0.005693,...,0.028466,1,53529853525,-3.5,0.005693,1,53528428700,466,97,1496
1497,4.5,186.5,0.027609,0.027609,-6.5,-181.5,0.013805,0.013805,0.5,0.013805,...,0.013805,4,55546088125,-0.5,0.013805,2,55546088000,222,161,1497
1498,22.0,759.0,0.041051,0.082102,-18.0,-738.0,0.041051,0.082102,-5.0,0.002874,...,0.011494,4,55673900325,1.0,0.011494,4,55673898975,34,146,1498
1499,0.5,1.5,0.011298,0.005649,-1.5,-4.5,0.011298,0.005649,0.5,0.005649,...,0.005649,4,57548223325,0.5,0.005649,2,57546875000,493,161,1499

In [37]:
columns_updated = []
for i in data.columns:
    if isinstance(i,tuple) == True:
        columns_updated.append("{}_{}".format(str(i[0]),i[1]))
    else:
        columns_updated.append(i)
data.columns = columns_updated

In [38]:
data2 = pd.read_csv("train_labels.csv",nrows=11500)

In [39]:
data2.drop("ID",axis=1,inplace=True)

In [40]:
data2

       source_id
0              2
1              2
2              2
3              4
4              2
...          ...
11495          1
11496          1
11497          2
11498          1
11499          1

[11500 rows x 1 columns]

In [41]:
df = data.interpolate()

In [42]:
df.isnull().sum()

0_ask          0
0_ask1         0
0_ask_size     0
0_ask_size1    0
0_bid          0
              ..
9_source_id    0
9_tod          0
stock_id       0
day_id         0
ID             0
Length: 97, dtype: int64

In [31]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [11]:
from sklearn.model_selection import train_test_split

In [43]:
x = df
y = data2

In [44]:
x_train , x_test , y_train , y_test = train_test_split(x,y.values,test_size=0.3)

In [62]:
model1 = SVC()
model2 = RandomForestClassifier(n_estimators=50)

In [63]:
#model1.fit(x_train,y_train)
model2.fit(x_train,y_train)

c:\python\python 3.7\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(n_estimators=50)

In [64]:
#print(model1.predict(x_test))
print(model2.predict(x_test))

[2 3 4 ... 4 4 4]

In [65]:
#print(model1.score(x_test,y_test))
print(model2.score(x_test,y_test))

0.443768115942029

In [16]:
y_predicted = model.predict(x_test)

In [26]:
dd = pd.DataFrame(y_predicted)
dd.to_csv("D:/ouput.csv",index=False)

In [30]:
d = pd.read_csv("D:/ouput.csv",names=["Source_id"])
d

     Source_id
0            0
1            4
2            4
3            4
4            4
..         ...
446          4
447          4
448          4
449          4
450          4

[451 rows x 1 columns]